<div class="flex flex-row items-center  bg-purple-600 h-12">
    <div class="mx-[10%] flex flex-row justify-between  w-full ">
        <span class="text-white text-2xl font-extrabold">
            {{name}}
        </span>
        <span class="flex gap-x-4">
            <p class="text-white">Follow us:</p>
            <app-social-media-button link="https://www.facebook.com/" icon="fab fa-facebook"
                text="Facebook"></app-social-media-button>
            <app-social-media-button link="" icon="fab fa-instagram" text="Instagram"></app-social-media-button>
            <app-social-media-button link="" icon="fab fa-twitter" text="Twitter"></app-social-media-button>
            <app-social-media-button link="" icon="fab fa-reddit" text="Reddit"></app-social-media-button>
        </span>
    </div>
</div>